<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Speech recognition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <span class="text">{{text}}</span>

    <ion-button class="button" expand="block" (click)="startRecognation()">
      <ion-icon name="mic-outline" slot="start"></ion-icon>
      Start
    </ion-button>
  </div>
</ion-content>
